#checked-books-display{
    height: 350px;
    width: 600px;
    opacity: 90%;
    background-color: white;
    color: lightgray;
    overflow: scroll;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    z-index: -5;
}

hr{
    border-color: black;
}